<ion-header class="ion-padding-horizontal">
  <ion-toolbar>
    <ion-title>Descuentos</ion-title>
    <ion-buttons slot="end">
      <ion-img class="img-header" [src]="'assets/img/logo-gaz.png'"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
<ion-footer class="ion-padding">
  <ion-button color="fucsia" fill="outline">
    Guardar
  </ion-button>
  <ion-button color="warning" fill="outline" (click)="closeModal()">
    Cancelar
  </ion-button>
</ion-footer>

