<ion-header class="ion-padding-horizontal">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="fucsia"></ion-back-button>
    </ion-buttons>
    <ion-title>Cambiar contraseña</ion-title>
    <ion-buttons slot="end">
      <ion-img class="img-header" [src]="'assets/img/logo-gaz.png'"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-bottom form-content">
  <form name="form" (ngSubmit)="saveForm(pForm)" #pForm="ngForm" novalidate>
    <ion-title class="ion-padding-vertical bg-light ion-text-center ion-text-wrap">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-icon size="large" name="person"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-text>{{ user.name }}</ion-text>
      </ion-grid>
      <ion-text class="small">{{ user.profile }}</ion-text>
    </ion-title>
    <ion-list class="ion-padding-horizontal">
      <ion-item>
        <ion-label position="floating">Contraseña actual <ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="current"
                   type="password"
                   #current="ngModel"
                   maxlength="12"
                   [(ngModel)]="user.current"
                   required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nueva contraseña <ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="password"
                   type="password"
                   #password="ngModel"
                   minlength="8"
                   maxlength="12"
                   [(ngModel)]="user.password"
                   required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirmar nueva contraseña <ion-text color="danger">*</ion-text></ion-label>
        <ion-input name="validation"
                   type="password"
                   #validation="ngModel"
                   minlength="8"
                   maxlength="12"
                   [(ngModel)]="user.validation"
                   required>
        </ion-input>
      </ion-item>
    </ion-list>
    <section class="ion-padding">
      <ion-button type="submit" color="fucsia" expand="block" [disabled]="pForm.invalid || user.password !== user.validation">
        Cambiar contraseña
      </ion-button>
      <aside *ngIf="user.password !== user.validation">
        <ion-text color="fucsia" class="error-label">
          Las nueva contraseña y la confirmación deben ser iguales
        </ion-text>
      </aside>
      <aside *ngIf="password.errors && password.errors.minlength">
        <ion-text color="fucsia" class="error-label">
          La nueva contraseña debe tener mínimo 8 caracteres
        </ion-text>
      </aside>
      <aside *ngIf="validation.errors && validation.errors.minlength">
        <ion-text color="fucsia" class="error-label">
          La confirmación de la contraseña debe tener mínimo 8 caracteres
        </ion-text>
      </aside>
    </section>
  </form>
</ion-content>
