<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <section class="ion-container">
    <ion-button color="light" shape="round" expand="full" (click)="uploadProspects()">
      <ion-icon color="fucsia" name="people" slot="start"></ion-icon>
      <ion-text color="fucsia">Prospectos</ion-text>
    </ion-button>
    <ion-button color="light" shape="round" expand="full">
      <ion-icon color="fucsia" name="globe" slot="start"></ion-icon>
      <ion-text color="fucsia">Visitas</ion-text>
    </ion-button>
  </section>
</ion-content>