<ion-header class="ion-padding-horizontal">
    <ion-toolbar>
        <ion-buttons slot="start" [ngClass]="{'hidden': !displayHeader}">
            <ion-back-button color="fucsia"></ion-back-button>
        </ion-buttons>
        <ion-title>Informe de visita</ion-title>
        <ion-buttons slot="end">
            <ion-img class="img-header" [src]="'assets/img/logo-gaz.png'"></ion-img>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="form-content">
    <ion-slides [options]="slideOpts" #sliderMain>
        <ion-slide class="ion-padding">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-title class="ion-wrap visit-title" *ngIf="pos">{{ pos.name }}</ion-title>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-button color="fucsia" fill="outline" expand="block" shape="round" class="btn-option" (click)="goToSlide(1, 'needs', false)">
                            <ion-icon color="fucsia" name="{{needs && needs.observations ? 'checkmark-circle' : 'radio-button-off'}}" class="icon-left"></ion-icon>
                            <ion-text class="text-left"> Necesidades </ion-text>
                        </ion-button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-button color="fucsia" fill="outline" expand="block" shape="round" class="btn-option" (click)="goToSlide(1, 'inventory', false)">
                            <ion-icon color="fucsia" name="{{inventoryFinished ? 'checkmark-circle' : 'radio-button-off'}}" class="icon-left"></ion-icon>
                            <ion-text class="text-left"> Chequeo de inventarios </ion-text>
                        </ion-button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-button color="fucsia" fill="outline" expand="block" shape="round" class="btn-option" (click)="goToSlide(1, 'commercial', false)">
                            <ion-icon color="fucsia" name="{{commercial && commercial.observations ? 'checkmark-circle' : 'radio-button-off'}}" class="icon-left"></ion-icon>
                            <ion-text class="text-left"> Comportamiento comercial </ion-text>
                        </ion-button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-button color="fucsia" fill="outline" expand="block" shape="round" class="btn-option" (click)="goToSlide(1, 'observations', false)">
                            <ion-icon color="fucsia" name="{{observations ? 'checkmark-circle' : 'radio-button-off'}}" class="icon-left"></ion-icon>
                            <ion-text class="text-left"> Observaciones visita </ion-text>
                        </ion-button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-button color="fucsia"
                                    expand="block"
                                    shape="round"
                                    class="btn-option"
                                    [disabled]="!(needs && needs.observations && inventoryFinished && commercial && commercial.observations && observations)"
                                    (click)="sendVisit()">
                            <ion-icon name="save" class="icon-left"></ion-icon>
                            <ion-text class="text-left text-light"> Finalizar visita </ion-text>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide>
            <ng-container [ngSwitch]="option">
                <ng-container *ngSwitchCase="'needs'">
                    <ion-grid class="ion-padding">
                        <ion-row>
                            <ion-col class="ion-text-left">
                                <ion-title>Necesidades</ion-title>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-item lines="full">
                                    <ion-label position="floating">Descripción
                                        <ion-text color="danger">*</ion-text>
                                    </ion-label>
                                    <ion-textarea name="observations" maxlength="250" rows="6" [(ngModel)]="needs.observations" required></ion-textarea>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-item lines="full">
                                    <ion-label class="small">¿Generó algún compromiso con el cliente? </ion-label>
                                    <ion-toggle [(ngModel)]="needs.promise" color="fucsia" slot="end"></ion-toggle>
                                </ion-item>
                                <ion-label class="x-small ion-text-left">
                                    Describa las necesidades identificadas en el punto de venta de una forma breve y clara.
                                </ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ng-container>
                <ng-container *ngSwitchCase="'inventory'">
                    <ion-grid class="ion-padding">
                        <ion-row>
                            <ion-col class="ion-text-left">
                                <ion-title>Chequeo inventarios</ion-title>
                            </ion-col>
                        </ion-row>
                        <ion-row *ngFor="let i of inventory.list">
                            <ion-col size="6">
                                <ion-item lines="full">
                                    <ion-input type="text" class="ion-text-left" value="{{i.product}}" readonly></ion-input>
                                </ion-item>
                            </ion-col>
                            <ion-col size="3">
                                <ion-item lines="full">
                                    <ion-input type="number" class="ion-text-right" value="{{i.quantity}}" readonly></ion-input>
                                </ion-item>
                            </ion-col>
                            <ion-col size="3">
                                <ion-item lines="full">
                                    <ion-input type="number" class="ion-text-right" [(ngModel)]="i.check" required></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-item lines="full">
                                    <ion-label>Imagen
                                        <ion-text color="danger">*</ion-text>
                                    </ion-label>
                                    <ion-img class="small" src="assets/img/no-photo.jpg" *ngIf="!inventory.image"></ion-img>
                                    <ion-img class="small" [src]="inventory.image" *ngIf="inventory.image"></ion-img>
                                    <ion-button color="fucsia" (click)="showCamera()">
                                        <ion-icon slot="icon-only" name="camera"></ion-icon>
                                    </ion-button>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-item lines="full">
                                    <ion-label position="floating">Observaciones
                                        <ion-text color="danger">*</ion-text>
                                    </ion-label>
                                    <ion-textarea name="observations" maxlength="250" [(ngModel)]="inventory.observations" required></ion-textarea>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ng-container>
                <ng-container *ngSwitchCase="'commercial'">
                    <ion-grid class="ion-padding">
                        <ion-row>
                            <ion-col class="ion-text-left">
                                <ion-title>Comportamiento comercial</ion-title>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-item lines="full">
                                    <ion-label position="floating">Descripción comportamiento
                                        <ion-text color="danger">*</ion-text>
                                    </ion-label>
                                    <ion-textarea name="observations" maxlength="250" rows="6" [(ngModel)]="commercial.observations" required></ion-textarea>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-item lines="full">
                                    <ion-label class="small">¿Ha cumplido con las metas establecidas? </ion-label>
                                    <ion-toggle [(ngModel)]="commercial.compliance" color="fucsia" slot="end"></ion-toggle>
                                </ion-item>
                                <ion-label class="x-small ion-text-left">
                                    Describa el comportamiento comercial del punto de venta en el último año de una forma breve y clara.
                                </ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ng-container>
                <ng-container *ngSwitchCase="'observations'">
                    <ion-grid class="ion-padding">
                        <ion-row>
                            <ion-col class="ion-text-left">
                                <ion-title>Observaciones de la visita</ion-title>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-item lines="full">
                                    <ion-label position="floating">Observaciones
                                        <ion-text color="danger">*</ion-text>
                                    </ion-label>
                                    <ion-textarea name="observations" maxlength="250" rows="6" [(ngModel)]="observations" required></ion-textarea>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-label class="x-small ion-text-left">
                                    Describa las observaciones generales de la visita al punto de venta de una forma breve y clara.
                                </ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ng-container>
            </ng-container>
        </ion-slide>
    </ion-slides>
</ion-content>

<ion-footer>
    <ion-fab vertical="bottom" horizontal="end" *ngIf="displayHeader">
        <ion-fab-button color="fucsia">
            <ion-icon name="briefcase"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <!--ion-fab-button color="fucsia" (click)="showModalDiscount()">
                <ion-icon name="pricetags"></ion-icon>
            </ion-fab-button-->
            <ion-fab-button color="fucsia" (click)="showModalCustomer()">
                <ion-icon name="person"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
    <ion-fab vertical="bottom" horizontal="end" *ngIf="!displayHeader">
        <ion-fab-button color="fucsia" (click)="saveOption(option)">
            <ion-icon name="undo"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-footer>
